body 
{ 
    margin:0; padding:0; 
}

#map 
{ 
    position:absolute; top:0; bottom:0; width:100%;
    z-index: 0;
}

.infobox
{
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    top: 1px;
    right: 1px;
    transition: 0.5s;
    height: 70%;
    width: 0;
    background-color: rgba(70, 70, 70, 1);
    border: solid #e09024 1px;
    color: white;
}

.infobox-container
{
    margin-top: 15%;
    margin-left: 5%;
}

.container-top-offset
{
    margin-top: 5px;
}

.control-wrapper
{
    position: absolute;
    z-index: 1;
    left: 20px;
    top: 20px;
}

.control-wrapper .container
{
    padding: 0;
}

.display-wrapper
{
    position: absolute;
    z-index: 1;
    bottom: 40px;
    left: 20px;
}

.display-wrapper .container
{
    padding: 0;
}

.date-wrapper
{
    position: absolute;
    z-index: 1;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 20%;
}

.center-wrapper
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#btnPlay
{
    flex-basis: 10%;
}

#rngTime
{
    flex-basis: 60%;
}

#btnSpeed
{
    flex-basis: 15%;
}

.legend-wrapper
{
    position: absolute;
    z-index: 1;
    bottom: 20px;
    right: 20px;
    width: 20%;
}
.color-line
{
    border-radius: 20px;
    width: 100%;
    height: 16px;
    background: linear-gradient(to right, #009933 25%, #00ccff 25%, #00ccff 50%, #0066ff 50%, #0066ff 75%, #8c1aff 75%);
}

.text-below
{
    display: flex;
}

.text-below p
{
    flex-basis: 25%;
}

.selectBox
{
    background: rgba(56, 135, 190, 0.2);
    border: 2px solid #3887be;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

.closeBtn
{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#icon-pause
{
    display: none;
}

/* ==================== INPUT STYLING ==================== */
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 15px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(120, 120, 120, 0.78);
  border-radius: 25px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 0px solid #00001e;
  height: 20px;
  width: 20px;
  border-radius: 16px;
  background: #3c3c3c;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.1px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(133, 133, 133, 0.78);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(120, 120, 120, 0.78);
  border-radius: 25px;
  border: 0.1px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 0px solid #00001e;
  height: 20px;
  width: 20px;
  border-radius: 16px;
  background: #3c3c3c;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(107, 107, 107, 0.78);
  border: 0.1px solid #010101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: rgba(120, 120, 120, 0.78);
  border: 0.1px solid #010101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 0px solid #00001e;
  height: 20px;
  width: 20px;
  border-radius: 16px;
  background: #3c3c3c;
  cursor: pointer;
  height: 4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(120, 120, 120, 0.78);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(133, 133, 133, 0.78);
}
/* ======================================================= */


/* ====================== CLEARFIX ======================= */
.cf:before,
.cf:after 
{
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after 
{
    clear: both;
}

.cf 
{
    *zoom: 1;
}
/* ======================================================= */
